<nav>
  <img
    src="/basic_brand_logo.webp"
    alt=""
    class="logo"
    (click)="navigateTo('/home')"
  />
  <div class="btn">
    <i class="fa-solid fa-plus"></i>
    <p>Create</p>
  </div>
  <div class="nav-list">
    <div
      class="nav-item"
      [ngClass]="{ active: isHome }"
      (click)="navigateTo('/home')"
    >
      <i class="fa-solid fa-house"></i>
      <p>Home</p>
    </div>
    <div
      class="nav-item"
      [ngClass]="{ active: isLibrary }"
      (click)="navigateTo('/library')"
    >
      <i class="fa-regular fa-rectangle-list"></i>
      <p>Library</p>
    </div>
    <div
      class="nav-item"
      [ngClass]="{ active: isReport }"
      (click)="navigateTo('/report')"
    >
      <i class="fa-solid fa-chart-line"></i>
      <p>Reports</p>
    </div>
  </div>
</nav>
