<div class="backdrop" *ngIf="isModalOpen">
  <div class="modal">
    <div class="modal-header">
      <h3>Forget password</h3>
      <button class="close-btn" (click)="closeModal()">×</button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="sendCode()">
        <div class="form-group">
          <label for="email" class="lb">Nhập email của bạn:</label>
          <input
            type="email"
            id="email"
            [(ngModel)]="emailSend.Email"
            name="email"
            class="form-control"
            required
          />
        </div>
        <button type="submit" class="submit-btn">Gửi mã xác thực</button>
      </form>
      <form *ngIf="isCodeSent" (ngSubmit)="enterCode()" class="fm enterCode">
        <div class="form-group">
          <p for="email" class="lb">
            Nhập mã xác thực vừa gửi đến email của bạn:
          </p>
          <input
            type="email"
            id="email"
            [(ngModel)]="code"
            name="email"
            class="form-control"
            required
          />
        </div>
        <button type="submit" class="submit-btn">Nhập mã xác thực</button>
      </form>
    </div>
  </div>
</div>
<app-update-password-modal></app-update-password-modal>
