<header>
    <div class="search">
        <input type="checkbox" style="display: none;" id="search-toggle">
        <label for="search-toggle">
            <i class="fa-solid fa-magnifying-glass"></i>
        </label>
        <input type="text" placeholder="Search">
    </div>
    <div class="box">
        <i class="fa-solid fa-circle-info"></i>
        <p>Help</p>
    </div>
    <div class="account">
        <label for="account-toggle">
            <img src="/favicon.ico" alt="">
        </label>
        <input type="checkbox" style="display: none;" id="account-toggle">
        <div class="account-option">
            <div class="account-option-item">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <p>Logout</p>
            </div>
        </div>
    </div>
</header>
