.container {
    display: flex;
    width: 80%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.right-panel {
    width: 50%;
    background-color: #69c9d0;
    border-bottom-left-radius: 50px;
}


.left-panel {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 100px;
}

h1 {
    margin-bottom: 40px;
    font-size: 2rem;
    color: #333;
}

form {
    width: 100%;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
}

.input-group input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 16px;
height: 60px;
}

.input-group .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.actions {
    /* text-align: center; */
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 18px;

}

.actions a {
    text-decoration: none;
    color: #555;
    font-weight: bold;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    height: 60px;
}

.btn.signup {
    background-color: #69c9d0;
    color: #fff;
    margin-bottom: 25px;
}

.btn.google {
    background-color: #ddd;
    color: #555;
}
#buttonDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    /* Centers the Google button */
    margin-bottom: 10px;
    /* Adds some space between the buttons */
    border-radius: 10px;
}